<!-- Flatpickr CSS -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
/>


<div style="position: relative;">

<div style="position: absolute; top:-20px; right: -115px; z-index: 10; ">
  <span ng-click="c.openCallForm()" 
        title="Request Call"
        style="cursor: pointer; position: relative; display: inline-block; color:#717171; transition: opacity 0.2s ease;"
        onmouseover="this.style.opacity='0.7'" 
        onmouseout="this.style.opacity='1'">
    <i class="fa fa-phone" style="font-size: 20px;"></i>
    <i class="fa fa-plus" style="font-size: 12px; position: absolute; top: -2px; right: -4px; color: #717171;"></i>
  </span>
</div>

<!-- Modal for the Call Request Form -->
<div
  class="modal fade"
  id="callRequestForm"
  ng-if="c.formVisible"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="main-form">
          <!-- Topic -->
          <div class="heading">
            <h4 id="h4">Call Details</h4>
          </div>
          <!-- Form -->
          <form name="myForm" novalidate>
            <!-- Reason -->
            <div class="form-fields" ng-if="c.reasonVisible">
              <label class="question" for="reason"
                >Reason<span style="color: red">*</span></label
              >
              <p class="description">
                Kindly provide a clear and valid reason for your call request.
              </p>
              <input
                type="text"
                id="reason"
                class="field-answer"
                ng-model="c.reason"
                name="reason"
                required
              />
              <!-- Error message when the field is empty -->
              <span
                class="error"
                ng-show="myForm.reason.$touched && myForm.reason.$invalid"
              >
                The Reason is required.
              </span>
            </div>
            <hr class="line" />

            <!-- Convenient Time Slots Section -->
            <div class="form-fields">
              <label class="question"
                >Convenient Start Time/s<span style="color: red">*</span></label
              >
              <p class="description">
                You can provide 1-3 starting times according to your
                availability.
              </p>
              <p class="description1">
                Current time zone :
                <span style="font-weight: 600">{{c.data.userTimeZone}}</span>
              </p>

              <!-- Duration Dropdown -->
              <div class="duration-row" ng-if="!c.acceptTrigger">
                <label class="short-question" for="duration"
                  >Meeting Duration<span style="color: red">*</span></label
                >
                <select class="dropdown" ng-model="c.duration" required>
                  <option value="15">15 minutes</option>
                  <option value="30">30 minutes</option>
                  <option value="45">45 minutes</option>
                  <option value="60">60 minutes</option>
                </select>
              </div>              
              <div class="duration-row" ng-if="c.acceptTrigger">
                <div class="short-question" for="duration"
                  >Meeting Duration:</div>
                <div>
                  {{c.meetingDuration}} minutes
                </div>
              </div>
              <br/>
              <!-- Cutt-off Time -->
              <div class="cutOffTime">
                <label
                  class="label"
                  style="
                    color: black;
                    font-size: 15px;
                    font-weight: 500;
                    margin: 0;
                    padding: 0;
                  "
                  >Earliest Possible Start Time :
                </label>
                <span
                  class="earliest-time"
                  style="color: #ff7300; font-weight: bold; font-size: 15px"
                  ng-show="!c.loading"
                >
                  {{c.data.localTime}}
                </span>
              </div>
              <hr />

              <!-- Dynamic Date-Time Fields -->
              <div
                ng-repeat="startTime in c.startTimes track by $index"
                class="times"
              >
                <label class="start-times"
                  >Start Date and Time {{$index + 1}}</label
                >
                <div class="date-time-inputs">
                  <!-- Assign unique id dynamically -->
                  <input
                    type="text"
                    id="datetimepicker{{$index}}"
                    placeholder="Select Date and Time"
                    ng-model="startTime.time"
                    required
                  />
                </div>
              </div>

              <!-- Add Button disabled until the last entry is valid -->
              <button
                type="button"
                class="btn btn-secondary"
                ng-click="c.addStartTime(c.startTimes.length)"
                ng-show="c.startTimes.length < 3 && !c.isAddButtonDisabled()"
              >
                ADD +
              </button>
            </div>

            <!-- Buttons -->
            <div class="form-fields">
              <button
                type="button"
                class="btn"
                id="request"
                ng-click="c.submitForm()"
                ng-disabled="myForm.$invalid"
              >
                Submit
              </button>
              <button
                type="button"
                class="btn"
                id="cancel"
                ng-click="c.cancel()"
              >
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div> <!-- Close the widget container -->